<!--
Lista de IDs

ExitButton      :   Refere-se ao botão de saída (X)
imgPlaceholder  :   Refere-se a imagem de perfil
nameField       :   Refere-se a caixa de texto "Nome"
surnameField    :   Refere-se a caixa de texto "Sobrenome"
telField        :   Refere-se a caixa de texto "Telefone"
emailField      :   Refere-se a caixa de texto "Email"
saveButton      :   Refere-se ao botão de Salvar

 -->
<div *ngIf="crt">
  <div class="container-main">
    <div class="createContainer">
      <!-- Botão Exit -->
      <div btnExitDiv>
        <button
          type="button"
          class="btn btn-primary btnExit"
          id="ExitButton"
          (click)="showCreate()"
        >
          <svg
            style="margin: 0px 0px 12px -6px"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-x-lg"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
            />
          </svg>
        </button>
      </div>

      <!-- Imagem -->

      <div class="text-center">
        <div
          class="image-upload"
          (dragover)="onDragOver($event)"
          (dragleave)="onDragLeave($event)"
          (drop)="onDrop($event)"
          (click)="fileInput.click()"
          [ngClass]="{ dragging: isDragging }"
        >
          <img
            *ngIf="imageSrc"
            [src]="imageSrc"
            alt="Pré-visualização da imagem"
            class="imgCreate"
          />
          <div *ngIf="!imageSrc" class="upload-indicator">
            Adicione uma Imagem
          </div>
          <input
            type="file"
            accept="image/*"
            (change)="onFileSelected($event)"
            #fileInput
            hidden
          />
        </div>
      </div>

      <form class="formContainer">
        <!-- Nome INPPUT -> nameField -->

        <div class="input-group mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Nome"
            required
            id="nameField"
            name="nome"
            [(ngModel)]="nome"
            required
          />
          <span
            style="background-color: #006400"
            class="input-group-text"
            id="basic-addon2"
          >
            <svg
              style="color: #FFF"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-person-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
              />
            </svg>
          </span>
        </div>

        <!-- Sobrenome input -> surnameField -->

        <div class="input-group mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Sobrenome"
            id="surnameField"
            required
            [(ngModel)]="sobrenome"
            name="sobrenome"
          />
          <span
            style="background-color: #006400"
            class="input-group-text"
            id="basic-addon2"
          >
            <svg
              style="color: #FFF"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-person-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
              />
            </svg>
          </span>
        </div>

        <!-- Telefone input -> telField -->

        <div class="input-group mb-4">
          <input
            type="tel"
            class="form-control"
            placeholder="Telefone"
            id="telField"
            required
            [(ngModel)]="telefone"
            name="telefone"
          />
          <span
            style="background-color: #006400"
            class="input-group-text"
            id="basic-addon2"
          >
            <svg
              style="color: #FFF"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-telephone-fill"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"
              />
            </svg>
          </span>
        </div>

        <!-- Email Field -> emailField -->

        <div class="input-group mb-4">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            id="emailField"
            required
            [(ngModel)]="email"
            name="email"
          />
          <span
            style="background-color: #006400"
            class="input-group-text"
            id="basic-addon2"
          >
            <svg
              style="color: #FFF"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-envelope-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"
              />
            </svg>
          </span>
        </div>

        <button
          type="submit"
          class="btn btn-primary btnCreate "
          id="saveButton"
          (click)="submit()"
        >
          Salvar
        </button>
      </form>
    </div>
  </div>
</div>
