<div class="contact-container">
    <div class="profile-pic">
      <img [src]="'http://localhost:5001/uploads/' + contact.image" alt="Foto de perfil" />
    </div>
    <div class="contact-info">
      <input type="text" placeholder="Nome" value="{{ contact.name }}" disabled />
      <input type="text" placeholder="Sobrenome" value="{{ contact.surname}}" disabled />
    </div>
    <div class="phone-email">
      <div class="phone">
        <input type="tel" placeholder="Telefone" value="{{ contact.phone }}" disabled />
        <button class="delete-button" (click)="deleteContact()">Delete</button>
      </div>
      <div class="email">
        <input type="email" placeholder="Email" value="{{ contact.email }}" disabled />
      </div>
    </div>
    <button [ngClass]="!this.contact.favorite ? 'star-button-disabled' : 'star-button'" (click)="handleClick()">
      ★
    </button>
  </div>
  